<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{ 'expanded': dropdownMenuOpen }">
    <a class="navbar-brand" href="#">socialnature</a>

    <button class="navbar-toggler" (click)="toggleDropdownMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">Try Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">How It Works</a>
        </li>
      </ul>
    </div>

  </nav>

<!-- Dropdown Menu -->
<ng-container *ngIf="dropdownMenuOpen">
  <div class="dropdown__menu">
    <ul>
      <li>Try Products</li>
      <li>How It Works</li>
    </ul>
  </div>
</ng-container>