<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <!-- Group 1 -->
      <div class="col-12 col-sm-3 col-md-3">
        <div class="footer__group">
          <div class="footer__title">Company</div>
          <ul>
            <li><a>Our Story</a></li>
            <li><a>Our Team</a></li>
            <li><a>Careers</a></li>
            <li><a>Careers</a></li>
            <li><a>Contact</a></li>
            <li><a>Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <!-- Group 2 -->
      <div class="col-12 col-sm-3 col-md-3">
        <div class="footer__group">
          <div class="footer__title">Learn More</div>
          <ul>
            <li><a>Our Story</a></li>
            <li><a>Our Team</a></li>
            <li><a>Careers</a></li>
            <li><a>Careers</a></li>
            <li><a>Contact</a></li>
            <li><a>Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <!-- Group 3 -->
      <div class="col-12 col-sm-3 col-md-3">
        <div class="footer__group">
          <div class="footer__title">Group 3</div>
          <ul>
            <li><a>Item</a></li>
            <li><a>Item</a></li>
            <li><a>Item</a></li>
            <li><a>Item</a></li>
            <li><a>Item</a></li>
            <li><a>Item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>