@import '../../styles/base.scss';

.footer {
  margin-top: 2rem;
  min-height: 200px;
  background: $light-gray;
  padding: 1rem 0.5rem;
  &__title {
    color: $teal-primary;
    font-size: 1.2rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid gray;
  }
  ul {
    padding: .5rem 0 0 0;
    margin: 0;
    li {
      list-style: none;
      font-size: .8rem;
      a {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .footer {
    &__title {
      padding-top: 1rem;
    }
    ul li {
      font-size: 1rem;
    }
  }
}
