$white: white;
$red: #ef5350;
$box-shadow: #9E9E9E;
$teal-primary: #008080;
$light-gray: #F5F5F5;
$fb-blue: #42A5F5;
$twitter-blue: #42A5F5;
$pinterest-red: #ef5350;

$screen-sm: 576px;
$screen-md: 996px;